.jumbotron {
    margin-top: 20px;   
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;   
    background-size: 100%;    
    color: #FF00FF;
    font-family: 'Open Sans', sans-serif;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
}

.btn-danger,
.btn-danger:hover,
.btn-danger:focus {
    background-color: #333F48;  
    border-color: #333F48;   
    font-family: 'Open Sans', sans-serif;
}

.btn-danger:active {
    background-color: #FF00FF;
    border-color: #FF00FF;
    font-family: 'Open Sans', sans-serif;
}
.btn-danger:active:hover {
    background-color: #FF00FF;
    border-color: #FF00FF;
    font-family: 'Open Sans', sans-serif;
}
.btn-danger:active:focus {
    background-color: #FF00FF;
    border-color: #FF00FF;
    font-family: 'Open Sans', sans-serif;
}
